@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
:root{
    --white: #ffffff;
    --dark-blue: #163764;
    --para-text: #333333;
    --orange: #FF7D00;
}

*{
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signin-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signin-form .form-floating{
    width: 300px;
    margin-bottom: 20px;
}
.cus-btn-signin{
    width: 300px;
}