@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
:root{
    --white: #ffffff;
    --dark-blue: #163764;
    --para-text: #333333;
    --orange: #FF7D00;
}

*{
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}
.hero-banner video{
    width: 100%;
    height: 1080px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -5;
    object-fit: cover;

}
.hero-banner .overlay{
    background-color: #000000;
    width: 100%;
    height: 1080px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -4;
    opacity: 0.55;
}
img{
    width: auto;
    height: auto;
}
section{
    padding-bottom: 100px;
    padding-top: 40px;
    background-color: #ffffff;
}
.nav-bar .row{
    margin: 0px !important;
}
.nav-bar .secs:first-child{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    padding: 20px 30px 0px;
}
.nav-bar .secs:last-child{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    padding: 20px 30px 0px;
}
.hero-banner{
    /* background: url(../assets/bg-2.png); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 0px !important;
    background-color: transparent;
}
/* .hero-banner #overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    background:linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3));
    background-size:cover;
} */
.hero-banner .secs-2 .logo-area img{
    width: 60px;
}
.hero-banner .secs-2 .logo-area{
    display: flex;
    flex-direction: column;
    align-items: end;
}
#ifs-gold-service, #main-logo{
    height: fit-content;
    width: auto;
}
.sub-title{
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 45px;
    text-align: center;
    background: linear-gradient(90deg, #FF7D00 30.37%, #FCA728 62.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.hero-title{
    font-style: normal;
    font-weight: 600;
    font-size: 66px;
    line-height: 80px;
    color: var(--white);
    text-align: center;
/* or 121% */
}
.sub-title-two{
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 50px;
    color: var(--white);
    text-align: center;
}
.min-title{
    font-style: normal;
    font-weight: 600;
    font-size: 41px;
    line-height: 50px;
/* identical to box height, or 195% */
    text-align: center;
    background: linear-gradient(90deg, #FF7D00 30.37%, #FCA728 62.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.secondary-title{
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 60px;
/* or 158% */
    letter-spacing: -0.01em;
    color: var(--dark-blue);
}
.primary-para{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 54px;
/* or 270% */
    text-align: justify;
    letter-spacing: -0.01em;
    color: var(--para-text);
}
.discover-sec{
    padding-bottom: 40px !important;
}
.discover-sec .secondary-title{
    text-align: center;
}
.discover-sec .primary-para{
    text-align: center;
}
.side-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.side-sec-two{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.hyper-para{
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 54px;
/* identical to box height, or 193% */
    text-align: justify;
    letter-spacing: -0.01em;
    color: var(--para-text);
    text-decoration: none;
}
.video-play{
    padding-right: 50px;
}
.brochure-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.brochure-card .card-title{
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 42px;
/* or 170% */
    letter-spacing: -0.01em;
    color: var(--dark-blue);
    margin-bottom: 20px;
}
.brochure-card .brochure-img{
    margin-bottom: 20px;
}
.brochure-card .hyper-para .icon{
    margin-right: 15px;
}
.brochure .row .col-side:first-child{
    display: inline-flex;
    align-items: flex-start;
}
.brochure .row .col-side:last-child{
    display: inline-flex;
    align-items: flex-end;
}
.dark-sec{
    padding-top: 60px;
    background: linear-gradient(90deg, #14345d 100%, #204987 100%);
}
.ifs-whtie-para{
    color: var(--white);
    text-align: right;
    line-height: 110%;
}
.ifs-logo-area .fw-row{
    display: inline-flex;
    justify-content: flex-end;
}
.white-para{
    color: var(--white);
}
.third-color{
    color: var(--orange);
}
.ul-para{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
/* or 148% */
    letter-spacing: -0.01em;
}

.ul-para li{
    margin-bottom: 20px;
}
.dark-sec .row+.row{
    margin-top: 50px;
}
.dark-sec .row:nth-child(2){
    margin-top: 0px;
}
.icon-card{
    height: 250px;
    padding: 50px 40px 40px 40px;
}
.icon-card img{
    margin-bottom: 20px;
    height: 40px;
}
.icon-para{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 44px;
/* identical to box height, or 185% */
    text-align: left;
}
.fade-para{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
/* or 145% */
    color: #FFFFFF;
    opacity: 0.6;
}
.hint-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
/* identical to box height */
    color: #131126;
    opacity: 0.7;
    margin-bottom: 10px;
}
footer .media-icon img{
 width: auto;
 height: 15px;
 padding: 0px;
}
footer .media-icon a{
    display: contents;
    padding: 0px;
}
footer .media-icon-area{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
footer .media-icon{
    background-color: var(--orange);
    border-radius: 500px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .social-media{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
footer .other-links-area a{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
/* identical to box height */
    color: #131126;
    opacity: 0.7;
    text-decoration: none;
}
footer .other-links-area a+a{
    margin-left: 20px;
}
footer .other-links-area{
    display: flex;
    align-items: center;
}
footer .nav-menu{
    display: flex;
    flex-direction:row;
    justify-content: end;
    align-items: center;
}
footer .nav-menu ul{
    display: flex;
    flex-direction:row;
    justify-content: end;
    gap: 70px;
    list-style: none;
    margin-bottom: 0px;
}

footer .nav-menu ul li a{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
/* identical to box height */
    color: #131126;
    text-decoration: none;
}
footer .main-logo{
    width: 200px;
}
footer .top-border{
    border-top: 2px solid var(--para-text);
}
footer .footer-top{
    margin-bottom: 30px;
}
footer .footer-bottom{
    padding-top: 10px;
}
footer{
    padding: 100px 0px 10px 0px;
}

/* Hero form CSS */
.hero-banner #form-1 input:not([type="submit"]),
.hero-banner #form-1 select {
    background: transparent;
    border-radius: 0px;
    border-color: var(--white);
    color: var(--white);
    /* max-height: 50px; */
}
.hero-banner #form-1 input:not([type="submit"]){
    padding-top: 25px;
}
.hero-banner #form-1 .form-floating label{
    color: var(--white);
}
.hero-banner #form-1 select option{
    background-color: var(--para-text);
    border: 0px solid var(--para-text);
    /* color: var(--para-text); */
  }
.hero-banner #form-1 .input-fields{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content: center;
}
.hero-banner #form-1 .input-fields .form-floating{
    width: 400px;
    margin: 20px;
}
.hero-banner #form-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cus-primary{
    background: var(--orange);
    color: var(--white);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
/* identical to box height */
    text-transform: uppercase;
    width: 152px;
    padding: 15px;
    border-radius: 0px;
    border: 1px solid var(--orange);
}
.hero-banner #form-1 .orange-text{
    color: var(--orange);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 70px;
/* or 386% */
    text-align: center;
}
.subscribe-modal .title-text{
    font-size: 40px;
    font-weight: 500;
    color: var(--orange);
    margin-bottom: 20px;
    text-align: center;
}
.subscribe-modal .primary-para{
    line-height: 24px;
    font-size: 20px !important;
    text-align: center;
    margin-bottom: 30px;
}
.subscribe-modal form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.subscribe-modal .subscribe-form-area{
    width: 100%;
}
.subscribe-modal form .form-floating{
    width: 100%;
    margin-bottom: 20px;
}
.subscribe-modal .trans-close-btn{
    background-color: transparent;
    color: var(--orange);
    border: 0px solid transparent;
}
.subscribe-modal .trans-close-btn:hover{
    background-color: transparent;
    color: var(--orange);
    opacity:0.7;
}
.subscribe-modal .modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subscribe-modal .modal-content{
    border-radius: 20px;
    padding: 50px 40px;
}
.subscribe-modal .modal-dialog{
    max-width: 600px;
}




/* over write CSS */
.subscribe-modal .form-floating > .form-control:not(:placeholder-shown){
    padding-top: 1.5rem;
}
.form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 0.625rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}



/* responsive */
@media(max-width: 1399px){
.secondary-title{
    font-size: 38px;
}
}
@media(max-width: 1199px){
    .hero-banner .hero-title{
        font-size: 45px;
        line-height: 60px;
    }
    .hero-banner .sub-title{
        font-size: 24px;
        line-height: 40px;
    }
    .hero-banner .sub-title-two{
        font-size: 20px;
        line-height: 40px;
    }
    .hero-banner .min-title{
        font-size: 36px;
        line-height: 50px;
    }
    .hero-banner #form-1 .input-fields .form-floating{
        width: 350px;
    }
    .hero-banner #form-1 .orange-text{
        line-height: 40px;
    }
    .secondary-title{
        font-size: 36px;
    }
    .side-img-sec-1 img{
        position: relative;
        width: fit-content;
        left: -85px;
        width: 480px;
    }
    footer .nav-menu ul{
        gap: 30px;
        padding: 0px;
    }
    .hyper-para{
        font-size: 24px;
    }
    .brochure-card .hyper-para .icon{
        width: 35px;
    }
    }
    
@media(max-width: 991px){
    .hero-banner #form-1 .input-fields .form-floating{
        width: 300px;
    }
    .secondary-title{
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .primary-para{
        font-size: 18px;
        line-height: 40px;
        padding-right: 20px !important;
    }
    .side-img-sec-1 img{
        width: 350px;
        left: -30px;
    }
    section{
        padding-bottom: 70px;
    }
    .brochure-card .card-title{
        font-size: 22px;
        line-height: 36px;
    }
    .brochure-card .brochure-img{
        width: 300px;
    }
    footer .footer-top{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .nav-menu{
        width: 100%;
        margin-top: 30px;
        justify-content: center;
    }
    footer .social-media{
        align-items: center;
        margin-bottom: 20px;
    }
    footer .footer-bottom{
        flex-direction: column-reverse;
        align-items: center;
    }
    footer .other-links-area{
        width: 100%;
        justify-content: center;
    }
}
@media(max-width: 768px){
    .hero-banner video{
        height: 1380px;
    }
    .hero-banner .overlay{
        height: 1380px;
    }
    .hero-title{
        font-size: 35px;
        line-height: 45px;
    }
    .sub-title-two{
        font-size: 16px;
        line-height: 20px;
    }
    .sub-title{
        font-size: 18px;
        line-height: 25px;
    }
    .min-title{
        font-size: 30px;
        line-height: 40px;
    }
    .icon-sec .icon-area .icon-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icon-sec .icon-area .icon-card p,
    .icon-sec .icon-area .icon-card h4{
        text-align: center;
    }
    .side-img-sec-1{
        display: none;
    }
    .side-img-sec-2{
        margin-bottom: 30px;
    }
    .brochure .row .side-sec-two .brochure-card{
        width: 100%;
        align-items: center;
        margin-bottom: 50px;
    }
    .brochure .row .side-sec-two .brochure-card .card-title{
        font-size: 26px;
        text-align: center;
    }
    footer .nav-menu ul{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    footer .footer-top .footer-logo{
        display: contents;
    }
    footer{
        padding-top: 60px;
    }
    section{
        padding-bottom: 40px;
    }
    .video-play{
        padding-right: 20px;
        padding-left: 20px;
    }
    .video-sec .row{
        flex-direction: column-reverse;
    }
    .video-sec .row .hyper-para{
        display: none;
    }
    .video-sec .row .side-img-sec-2{
        margin-top: 20px;
    }
    .video-play:hover{
        transition: 0.5s;
        padding-left: 0px;
        padding-right: 0px;
    }
    .ifs-logo-area .fw-row{
        justify-content: flex-start;
    }
    .hero-banner #form-1 .input-fields .form-floating{
        width: 100%;
    }
    .primary-para{
        padding-right: 0px !important;
    }
}

@media(max-width: 575px){
    .hero-banner .hero-title{
        font-size: 26px;
        line-height: 40px;
    }
    .hero-banner .sub-title{
        font-size: 16px;
        line-height: 20px;
    }
    .hero-banner .sub-title-two{
        font-size: 12px;
        line-height: 20px;
    }
    .hero-banner .min-title{
        font-size: 24px;
        line-height: 40px;
    }
    .hero-banner #form-1 .orange-text{
        line-height: 20px;
        margin: 10px;
        font-size: 16px;
    }
    .hero-banner #form-1 .input-fields .form-floating{
        margin: 10px;
    }
    footer .other-links-area a{
        font-size: 11px;
    }
    .primary-para, .ul-para li{
        font-size: 16px;
    }
    .secondary-title{
        font-size: 24px;
    }
    .brochure .row .side-sec-two .brochure-card .card-title{
        font-size: 20px;
    }
    .brochure-card .brochure-img{
        width: 250px;
    }
    .nav-bar .secs:first-child{
        padding: 0px;
    }
    .nav-bar .secs:last-child{
        padding-right: 14px;
        padding-top: 15px;
    }
    .nav-bar .main-logo{
        width: 150px !important;
    }
    .nav-bar .ifs-gold-service{
        width: 100px !important;
    }
    
}
@media(max-width: 368px){
    .hero-banner .hero-title{
        font-size: 32px;
        line-height: 38px;
    }
    .hero-banner .sub-title{
        font-size: 18px;
        line-height: 36px;
    }
    .hero-banner .min-title{
        font-size: 22px;
        line-height: 38px;
    }
    .hero-banner #form-1 .orange-text{
        /* line-height: 40px; */
        margin: 10px;
    }
    .hero-banner #form-1 .input-fields .form-floating{
        /* height: 20px; */
        margin: 6px;
    }
}

